/target/classes/main
*.class
/.metadata/
/target/maven-archiver/pom.properties
/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/target/pokedex-1.0-SNAPSHOT.jar
/target/pokedex-1.0-SNAPSHOT.jar.original
